:root {
    --red-color: #D24A69;
    --hover-red-color: #BD2246;
    --primary-blue-color: #5CA7DE;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  /* Navbar Styling */
  .navbar-container {
    width: 100%;
  }
  
  .navbar {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Remove padding/margin from navbar container to ensure full-width alignment */
  .navbar .container-fluid {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .nav-link {
    color: #343a40;
    margin-right: 20px;
  }
  
  .nav-link:hover {
    color: var(--red-color);
  }
  
  .logo {
    width: 150px; 
  }
  

  
  
  
  /* Main Section Styling */
  .code-container {
    text-align: center;
    width: 100%;
    padding: 20px; /* Add padding for a better look */
  }
  
  .logo-icon {
    width: 50px; /* Adjust according to your logo size */
  }
  
  .fw-bold {
    color: #343a40; /* Dark gray color */
  }
  
  .code-inputs {
    width: fit-content;
  }
  
  .code-box {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .code-box:focus {
    outline: none;
    border: 1px solid var(--red-color);
  }
  
  .btn-verify {
    background-color: var(--red-color);
    border: none;
    padding: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    border-radius: 8px !important;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
  
  .btn-verify:hover {
    background-color: var(--hover-red-color);
    transform: scale(1.05);
    border-color: var(--hover-red-color);
    color: #fff;
  }
  
  .resend-link {
    color: var(--red-color);
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .resend-link:hover {
    color: var(--hover-red-color);
  }
  
  .back-link {
    color: var(--red-color);
    text-decoration: underline;
    font-weight: 500;
  }
  
  .back-link:hover {
    color: var(--hover-red-color);
  }
  