/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
  background-color: #FFFFFF;
}
.page-wrapper h4 {
  font-family: 'Roboto', sans-serif; 
  font-weight: 500;
  font-size: 25px;
}

.page-wrapper {
    display: flex;
    width: auto;
    margin: 8% 20%;
  }
  
  .centered-container {
    background-color: white; 
    padding: 26px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 800px; 
    max-width: 90%; 
   
  }
  .page-wrapper h4{
    font-family: Roboto;
    font-weight:bold;
    margin-bottom: 20px;
    letter-spacing: 1px;

  }
  .link-input {
    width: 80%;
    padding: 13px 15px; 
    margin-top: 10px; 
    font-size: 16px;
    border: 2px solid #D1D5DB; 
    border-radius: 9px; 
    outline: none; 
    transition: border-color 0.4s ease-in-out; 
  }
  /* Placeholder text styling */
.link-input::placeholder {
    color: #c1c4c9;
    font-size: 18px;
  }
  
  .link-input:focus {
    border-color: #C98C9A;
    box-shadow: 0 0 3px #C98C9A; 
  }
  
  .page-wrapper .btn{
    background-color:#C98C9A;
    font-family: Roboto;
    border-color: #C98C9A;
    margin-left: 15px;
    margin-bottom: 5px;;
    width: 16%;
    height:46%;
    border-radius: 11px;
    font-size:21px;
    font-weight:500;
    transition: transform 0.5s ease-in-out, background-color 0.3s ease-in-out; 
}

.page-wrapper .btn:hover{
    background-color: #D24A69;
    transform: scale(1.06);
}
  