:root {
    --red-color: #D24A69;
    --hover-red-color: #BD2246;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password-container {
    width: 100vw; 
    height: 100vh; 
  }
  
  .reset-password-box {
    padding: 30px;
    background-color: #f8f9fa;
    width: 400px;
    margin-top: 3px;
  }
  
  .logo-icon {
    width: 50px; 
  }
  
  .fw-bold {
    color: #343a40; 
  }


  
  .back-link {
    color: var(--red-color);
    text-decoration: underline;
    font-weight: 500;
    margin-bottom: 5%;
  }
  
  .back-link:hover {
    color: var(--hover-red-color);
  }
  
  .btn-danger {
    background-color: var(--red-color);
    border: none;
    padding: 10px;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    border-radius: 8px !important;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }
  
  .btn-danger:hover {
    background-color: var(--hover-red-color);
    transform: scale(1.05);
    border-color: var(--hover-red-color);
  }
  