.navbar {
    background-color: #efeded !important; /* Blue color */
}

/* for brand logo img */
.logo img{
    position: relative;
    width:18vw;
    margin-left: 30px;
    cursor: pointer;
    margin-bottom:-6%;
    margin-top: -6%;
}
/* for nav items */
.nav-link.btn {
    color: black;
    font-size:20px;
    font-family: Roboto;
    font-weight: 700;
    background-color: transparent;
    padding: 0.25em 1.5em !important;
    margin: 15px;
    display:inline-block;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
.nav-link.btn:hover{
    color: #E2E2E2;
    font-size:20px;
    font-weight: 600;
    padding: 0.25em 1.5em !important;
    margin: 15px;
    background-color: #C76D46;
    border-radius: 25px;
    border:solid 1px black;
    display:inline-block;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

#mySidebar {
    width: 380px;
    position: fixed;
    height: 100%;
    z-index: 1000;
    background-color: white;
    display: none; 
}
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #eae5e5;
    overflow-x: hidden;
    z-index: 1000;
    transition: 0.5s;
    display: none;
}
.sidebar.open{
    display: flex;
}
.closebtn-div{
    position: relative;
    top: 20px;
    left: 80%;
    
}